{%  extends 'base.html' %}
{% load static %}
{% block title %}Signup Page{% endblock %}
{% block content %}
<div class="container mt-5">
    <h3> <b>Empower Cashless Economy</b></h3> <span>we enable next 
        
       &nbsp<p> generation digital payment</p></span>
<div class="row " >
<div class="col-sm-12">
<img class="mt-5 shadow p-5 " src="{% static 'image/i2.png' %}" alt=""  
class="img-responsive float-end"  height: auto;  style="max-width: 100%;"    >
</div>
<br>
<br>

<div class="col-sm-12">
    <img class="mt-5 shadow p-5 " src="{% static 'image/i.png' %}" alt=""  
    class="img-responsive float-start" height: auto;  style="max-width: 100%;"    >
    </div>  
</div>
</div>



   

{% endblock  %}
