{%  extends 'base.html' %}
{% load static %}
{% block title %}Change Password Pase{% endblock %}
{% block content %}

<div class="container mt-5 shadow p-5">
   <style>
     
      form{
         background-color:skyblue;
      }
   </style>
  <div class="row my-3">
   <div class="col-sm-6 offset-sm-3">
    <h4 class="text-center" style="background-color: snow;">Changed Password Form</h4>  <hr> 
    
    <form action="" method="post" novalidate  class="shadow p-5  mb-3 rounded">
     {% for fm  in messages %}
     <p {% if fm.tags %} class="alert alert-{{fm.tags}} mb-5 " {% endif %}> {{fm}}</p>
     {% endfor  %}
     {% csrf_token %}
    {% for fm in form %}
    <div class="form-group">
    {{fm.label_tag}}  {{fm}} <small class="text-danger">{{fm.errors|striptags}} </small> <br>
 </div>
    {%endfor %}
     <input type="submit" class="btn btn-primary mt-4" value="Submit">
     <br>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alter-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
   </div>
  </div>
 </div>

{% endblock %}