{%  extends 'base.html' %}
{% load static %}
{% block title %}Signup Pase{% endblock %}
{% block content %}

<div class="container mt-5 shadow p-5">
   <style>
      h3{
         background-color: snow;
      }
      form{
         background-color:skyblue;
      }
   </style>
  <div class="row my-3">
   <div class="col-sm-6 offset-sm-3">
    <h3 class="text-center">Registration form</h3> <hr>
    <form action="" method="post"  class="shadow p-5  mb-3 rounded">
     {% csrf_token %}
    {% for fm in form %}
    <div class="form-group">
    {{fm.label_tag}}  {{fm}} <small class="text-danger">{{fm.errors|striptags}} </small> <br>
 </div>
    {%endfor %}
     <input type="submit" class="btn btn-primary mt-4" value="Submit">
     <br>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alter-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
   </div>
  </div>
 </div>

{% endblock %}